body{
    font-family: 'Arima', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0%;    
}
.sec-1{
    background-image: url(images/hungry-children.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.header{
    text-align: center;
    color: whitesmoke;
    font-size: xx-large;
    margin-left: 10%;
}
.first-anchor{
    color:white;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    font-size: 30px ;
    padding: 10px;
    border-image: round;
    border-radius: 10px;
    margin-bottom: 20%;
}
.sec-2{
    display: block;
    text-align: center;
    font-size: larger;
}
.sec-2 h1{
    font-weight: 700;
    font-size: xxx-large;
}
.ul{
    display: inline-flex ;
    list-style: none;    
}
.button{
    font-size: xx-large;
    font-weight: 700;
    margin-right: 10px ;
    border: 0ch;
    border-radius: 5px;
    padding: 30px 20px;
}
#btton{
    font-size: xx-large;
    font-weight: 700;
    margin-right: 10px;
    border-radius: 5px;
    border-style: double;
    border-color:tomato;
    padding: 30px 20px;
}
#btton span{
    color: tomato;
}
.input{
    border-bottom-color: rgb(126, 121, 121);
    border-top: 0cm;
    border-left: 0ch;
    border-right: 0ch;
    initial-value: none;
    height: 15.5px;
    padding: 5px 200px 5px;
    font-size: 15px;
    font-weight: 10;  
}
.secound-anchor {
    color: white;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    border: black;
    border-image: round;
    border-radius: 10px;
    
}
.sec-3{
    display: block;
    margin-top: 200px;
    text-align: center;
}
.sec-3 h1{
    font-size: xxx-large;
}
.container{
    display: inline-flex;
    width: 300px;
    height: 200px;
    border: none;
    text-align: justify;
    margin-top: 2%;
    margin-left: 2%;
    padding-top: 80px;
}

.container img{
    width: 150px;
    height: 50px;
    background-color: whitesmoke;
    margin-bottom: 60%;
       
}
#container-1{
    background-color: rgb(240, 236, 236);
}
#container-2{
    background-color: rgb(228, 223, 223);
}
#container-3{
    background-color: rgb(233, 233, 187);
}
section{
    display: flex;
    height: 200px;
    padding-bottom: 150px;
}
.sec-4{
    margin-top: 220px;

}
.sec{
    width: 40%;
    margin-left: 7% ;
    

}
.sec img{
    width: 100%;
    border-image: round;
    border-radius: 10px;
    height: 160%;
}
.link-button{
    text-decoration: none;
    
    color: white;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    border-image: round;
    border-radius: 10px;
}
.updates{
    text-align: center;
}
.btttn{
    height: 36.5px;
    width: 250px;
    border: 0ch;
    font: message-box;
    font-display: grey;
    background-color: antiquewhite;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.sub{
    height: 38px;
    width: 100px;
    background-color: rgb(206, 67, 42);
    border: 0ch;
    font-weight: 700;
    color: whitesmoke;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    
}
.baton{
    background-color: rgb(207, 196, 181);
    padding: 80px 40px;
    margin-left: 22%;
    margin-right: 22%;
    
}
footer {
    display: block;
    margin: 0%;
    text-align: center;
    padding: 5px;
    background-color: black;
}
footer h2{
    font: 700;
    color: crimson;
    font-style: cursive;
}
footer h5{
    color: whitesmoke;
    font-family: cursive;
}